/* extra extra large devices */
@media (min-width:1400px){

}
/* extra large devices */
@media (min-width: 1200px) and (max-width: 1399.98px){

}
/* large devices */
@media (min-width: 992px) and (max-width: 1199.98px){
#about .overlay{
    height: 480px;
}
}
/* medium devices */
@media (min-width: 768px) and (max-width: 991.98px){
#banner h1 {
    font-size: 18px;
}
#about .overlay {
    height: 360px;
}
#banner a {
    font-size: 17px;
    width: 155px;
    height: 30px;
    display: inline-block;
    background: var(--dark-text);
    text-align: center;
    line-height: 30px;
    border-radius: 19px;
    transition: .2s;
}
#about .about_text{
    font-size: 20px;
}
#about h3{
    text-align: center;
}
}
/* small devices */
@media (min-width: 576px) and (max-width: 767.98px){
#banner h1 {
    font-size: 18px;
}
#banner a {
    font-size: 16px;
    font-weight: 100;
    width: 118px;
    height: 35px;
    line-height: 35px;
    border-radius: 19px;
}
#about .about_text {
    font-size: 18px;
}
#about .overlay .overlay-content {
    top: 28%;
}
#about h3{
    text-align: center;
}
#about .overlay {
    height: 270px;
}
}

/* iPhone 6/7/8 devices */
@media (min-width: 200px) and (max-width: 375.98px){
#banner h1 {
    font-size: 16px;
}
}
/* extra small devices */
@media (max-width: 575.98px){
#banner .banner2 .banner_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    display: none;
}
#banner a {
    width: 160px;
    height: 55px;
    line-height: 55px;
    margin-left: 14px;
    font-size: 15px;
}
    #banner h1 {
        font-size: 19px;
        text-align: center;
        font-family: sans-serif;
        color: #fff;
    }
    #banner h6 {
    font-size: 19px;
    margin-left: 10px;
    color: #fff;
    }
    #banner .banner1 {
    height: 370px;
    background: url(../img/bg2.jpg);
    background-repeat: no-repeat;
    background-size: 370px 100%;
}


}